.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
ion-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2px;
  text-align: center;
}
ion-toolbar {
  --background: #5974c0;
  --color: #ffffff;
}
p{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
#ng-untouched ng-pristine ng-invalid{
  padding-top: 40%;
  padding-bottom: 40%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}